@import "../colors";

.input {
  display: flex;
  flex-direction: column;
  &__field {
    background: $WHITE;
    border-radius: 50px;
    border: none;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
    &::placeholder{
      color: $GRAY
    }
  }
}