@import "../colors";

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  padding: vw(45);
  height: 650px;
  width: vw(550);
  max-width: 100vw;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: $WHITE;
  border-radius: 35px;
  box-sizing: border-box;
  button.close{
    display: block;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: auto;
  }
  @media (max-width: 990px) {
    width: 50%;
  }
@media (max-width: 768px) {
  width: 90%;
}
}