$GREEN: #12C868;
$LITE_GREEN: #21E27C;
$DARK_BLACK: #1C1C1C;
$GRAY: #A7A7A7;
$LITE_GRAY: #FDFDFD;
$WHITE: #ffffff;
$ORANGE: #F38120;
$LITE_ORANGE: #FD9C49;

$BLACK: #000000;

$BLACK_OPACITY: rgba(0, 0, 0, 0.4)