@import "components/buttons";
@import "components/header";
@import "components/chekbox";
@import "components/feedbackModal";
@import "components/input";
@import "components/modal";
@import "fonts";
@import "mixins";
@import "globals";
@import "animation";
.h1 {
  font-weight: 300;
  font-size: 55px;
  line-height: 85px;

  @media (max-width: 1920px) {
    font-size: adaptiveFonts(18, 55);
    line-height: vw(85);
  }
  @media (max-width: 480px) {
    font-size: adaptiveFonts(18, 55);
    line-height: mobVw(30);
  }
}
.h2{
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;

  @media (max-width: 1920px){
      font-size: adaptiveFonts(13, 32);
    line-height: vw(39);

  }
}
.h3{
  font-weight: 500;
  font-size: 30px;
}

.content{
  padding-top: vw(84);
  display: flex;
  flex-direction: row;
  grid-gap:vw(71) ;
  @media(max-width: 480px) {
    flex-direction: column-reverse;
  }
    .benefits{
      width: vw(225);
      padding: vw(40) vw(0) vw(40) vw(0);
      background-image:url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='75 80 225 620' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cg filter='url(%23filter0_d_1_1072)'%3E %3Cpath d='M75 95.9536C75 84.1738 85.1298 74.9454 96.8586 76.0401L281.859 93.3068C292.14 94.2664 300 102.895 300 113.22V680.5C300 691.546 291.046 700.5 280 700.5H95C83.9543 700.5 75 691.546 75 680.5V95.9536Z' fill='white'/%3E %3C/g%3E %3Cdefs%3E %3Cfilter id='filter0_d_1_1072' x='0' y='0.952148' width='375' height='774.548' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E %3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E %3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E %3CfeOffset/%3E %3CfeGaussianBlur stdDeviation='37.5'/%3E %3CfeComposite in2='hardAlpha' operator='out'/%3E %3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.03 0'/%3E %3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1_1072'/%3E %3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1_1072' result='shape'/%3E %3C/filter%3E %3C/defs%3E %3C/svg%3E");
      background-size: cover;
      border-radius: 0 0 20px  20px;
      background-position: top;
      background-repeat: no-repeat;
      overflow: hidden;
      //clip-path: polygon(-2px 6%, 3% 5%, 11% 5%, 89.28% 7.39%, 96% 8%, 98% 9%, 97% 97%, 93% 98%, 87% 98.86%, 5.43% 98.87%, 2% 98%, -1px 97%);
    @media(max-width: 480px) {
      height: max-content;
    }
      @media(max-width: 480px) {
        width: mobVw(200);
        margin: 0 auto;
        padding: mobVw(10) mobVw(0) mobVw(24) mobVw(0);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;
      }
      @media (max-width: 990px){
        width: 40%;
      }
        &__item{
          padding: vw(0) vw(30) vw(0) vw(30);
      &:not(:last-child):after{
        content:"";
        width:100%;
        height:54px;
        background-image:url(../img/menu_shadow.png);
        background-position:bottom;
        background-size:cover;
        display:block;
        top: 16px;
        position:relative;

      }
          &.hideAfter:after{
            @media(max-width: 480px) {
              display: none;
            }
          }
          p{
            line-height: vw(22);
            @media(max-width: 480px) {
              line-height: mobVw(15);
              text-align: left;
            }
            @media (max-width: 990px){
              line-height: 1.2;
            }
          }
          &:nth-child(1){
            padding: vw(0) vw(41) vw(0) vw(41);
          }
          &:nth-child(2){
            padding: vw(0) vw(39) vw(0) vw(39);
          }
          &:nth-child(3){
            padding: vw(0) vw(45) vw(0) vw(45);
          }
          &:nth-child(5){
            padding: vw(0) vw(32) vw(0) vw(32);
          }
          &.not-mob {
            &:not(.show) {
              @media (max-width: 480px) {
                opacity: 0;
                display: block;
                visibility: hidden;
                position: absolute;
                transition: .6s;
                bottom: -300000px;
              }
            }
            &.show{
              @media (max-width: 480px) {
                opacity: 1;
                display: block;
                visibility: visible;
                position: relative;
                transition: .6s;
                left: 0;
                bottom: 0;
              }
            }
          }
          &:not(.on-mob){
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
          }
          button.on-mob{
              margin-left: auto;
              right: mobVw(14);
              top: mobVw(20);
            position: absolute;
            }
          button#btn-open{
            svg {
              border-radius: 50%;
              box-shadow: 0 0 0 0 rgb(243, 129, 32);
              transform: scale(1);
              animation: pulse 2s infinite;
            }
          }
          @media (max-width: 480px) {
            margin: mobVw(0) mobVw(45) mobVw(0) mobVw(23);
            padding: 0;
          }
      }

    }
  .offer{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    @media (max-width: 990px) {
      flex: auto;
    }
    .h1{
      margin-top: vw(30);
      margin-bottom: vw(10);
      width: vw(728);

      @media (max-width: 990px) {
        width: 100%;
      }
      @media (max-width: 480px) {
        order: 1;
        width: 100%;
        text-align: center;
        margin-bottom: mobVw(5);
      }
    }
    .subtitle{
      display: flex;
      flex-direction: row;
      grid-gap: vw(16);
      align-items: center;
      margin-bottom: vw(50);
      @media (max-width: 480px) {
        order: 2;
        justify-content: center;

      }
    }
    .btns{
      display: flex;
      flex-direction: row;
      grid-gap: vw(18);
      @media (max-width: 480px) {
        order: 4;
        flex-direction: column;
        grid-gap: mobVw(12);
      }
      @media (max-width: 990px){
        grid-gap: mobVw(5);

      }
      @media (max-width: 768px){
        flex-direction: column;


      }
      .btn{
        padding: vw(27) vw(53);
        height: 100px;
        width: vw(335);
        transition: .6s;

        @media (max-width: 1920px){
          font-size: adaptiveFonts(10, 14);
        }
        @media (max-width: 480px) {
          height: 60px;
          width: 100%;
          padding: mobVw(14) mobVw(45);
        }
        @media (max-width: 990px){
          width: 45%;
          height: mobVw(25);

        }
        @media (max-width: 768px){
          width: 80%;
          height: mobVw(30);

        }

      &.btn_green{
        width: vw(375);
        @media (max-width: 480px) {
          width: 100%;
        }
        @media (max-width: 990px){
          width: 45%;
        }
        @media (max-width: 768px){
          width: 80%;
        }
      }
        &:hover{
          padding: vw(27) vw(60);
          @media (max-width: 480px){
            padding: mobVw(14) mobVw(45);
          }
        }
        svg{
          margin-left: vw(33);
          width: 20px;
        }
      }
    }
  }
  .helpText{
    display: flex;
    margin-top: vw(45);
    flex-direction: row;
    grid-gap: vw(16);
    align-items: baseline;
    @media (max-width: 480px) {
      flex-direction: column;
      order: 3;
      align-items: center;
      margin-top: mobVw(17);
      margin-bottom: mobVw(12);

    }
    svg{
      @media (max-width: 480px) {
        width: 12px;
      }
      }
    p {
      max-width: vw(234);
      @media (max-width: 1920px) {
        font-size: adaptiveFonts(8, 14);
        line-height: vw(22);
      }
      @media (max-width: 480px) {
        max-width: mobVw(200);
        font-size: adaptiveFonts(8, 14);
        line-height: mobVw(12);
        text-align: center;
      }
      @media (max-width: 990px){
        max-width: none;

        width: 45%;
      }
      @media (max-width: 768px){
        max-width: none;
        width: 60%;
        height: mobVw(30);
      }
    }
  }
  }


